---
baseURL: https://stef-nia.me
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Stefánia Péter :: UX Researcher &amp; UX Engineer</title>

        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" type="image/png" sizes="16x16" href="/src/images/favicon.png">
        <meta name="author" content="Stefánia Péter"/>
        <meta name="description" content="Portfolio of Stefánia Péter"/>

        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@cat_a_flame">
        <meta name="twitter:creator" content="@cat_a_flame">
        <meta name="twitter:title" content="{% if lead %}{{pageTitle}}{%else%}Portfolio of Stefánia Péter{%endif%}">
        <meta name="twitter:description" content="{% if lead %}{{lead}}{%else%}User Experience Engineer & Cat Lover{%endif%}">
        <meta name="twitter:image" content="{{baseURL}}{% if socialImage %}{{socialImage}}{%else%}/src/images/social.png{%endif%}">

        <!-- Open Graph -->
        <meta property="og:title" content="{% if lead %}{{pageTitle}}{%else%}Portfolio of Stefánia Péter{%endif%}">
        <meta property="og:description" content="{% if lead %}{{lead}}{%else%}User Experience Engineer & Cat Lover{%endif%}">
        <meta property="og:image" content="{{baseURL}}{% if socialImage %}{{socialImage}}{%else%}/src/images/social.png{%endif%}">
        <meta property="og:url" content="https://schatten.hu">
        <meta property="og:site_name" content="Portfolio of Stefánia Péter">
        <meta property="og:locale" content="en_GB">
        <meta property="og:type" content="website">

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-TMCHKKTHL5"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-TMCHKKTHL5');
        </script>

        <script src="https://kit.fontawesome.com/cd9ec28620.js" crossorigin="anonymous"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Gloock&amp;Playfair+Display:wght@400;500;600&amp;family=Source+Sans+Pro:wght@400;600;700&amp;display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/src/css/main.css">
    </head>
    <body>
        <header class="site-header">
            <div class="site-header-wrapper">
                <a href="/" class="site-header-link" name="home">
                    <span class="site-header-logo">
                        <svg class="site-header-image" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 615 672" width="80" height="86" role="img">
                            <path fill="transparent" d="M610.14 329.12c-.68-58.38 1.5-116.71 2.87-175.06.95-40.53 1.67-81.07 2.34-121.61.1-5.89-.42-11.81-1.04-17.67-.53-5.05-2.3-9.73-5.93-13.5-2.41-2.5-4.32-2.69-7.3-1.09-.98.53-2.2.89-3.3.88-17.72-.17-35.45-.6-53.17-.61C461.79.4 378.98.04 296.17.61c-60.29.42-120.54.47-180.8-1.11-28.08-.73-56.19-1.09-84.18 2.04C21.52 2.62 11.89 4 2.99 8.42c-4.22 2.09-6.63 5.38-7.13 9.93-1.23 11.28-3 22.56-3.3 33.87-.88 33.26-1.18 66.53-1.66 99.8-.7 47.72-1.9 95.44-1.91 143.16-.01 72.18.59 144.36 1.38 216.53.38 35.26 1.61 70.52 2.82 105.76.3 8.77 1.77 17.53 3.22 26.2 1.04 6.24 5.09 10.31 11.32 11.96 2.37.63 4.76 1.38 7.18 1.58 16.03 1.34 32.05 3.05 48.1 3.67 26.34 1.01 52.71 1.23 79.06 1.86 38.99.93 77.97 1.86 116.95 2.93 47.16 1.3 94.31 3.14 141.48 4.03 57.35 1.09 114.71 1.45 172.07 2.07 4.45.05 8.9-.25 13.34-.54 4.31-.28 10.15-4.73 10.88-9.68.49-3.32 1.51-6.58 1.76-9.9 1.19-16.04 2.31-32.08 3.24-48.13 1.31-22.69 2.44-45.38 3.62-68.08 1.59-30.86 3.89-61.71 4.54-92.59.79-37.9.19-75.82.19-113.73z"/>
                            <path d="M610.14 329.12c0 37.91.6 75.82-.19 113.71-.65 30.88-2.94 61.73-4.54 92.59-1.17 22.69-2.31 45.39-3.62 68.08-.93 16.05-2.05 32.1-3.24 48.13-.25 3.33-1.27 6.59-1.76 9.9-.73 4.95-6.57 9.4-10.88 9.68-4.44.29-8.9.59-13.34.54-57.36-.62-114.72-.98-172.07-2.07-47.17-.89-94.32-2.73-141.48-4.03-38.98-1.07-77.97-2-116.95-2.93-26.35-.63-52.72-.85-79.06-1.86-16.06-.61-32.08-2.33-48.1-3.67-2.42-.2-4.81-.96-7.18-1.58-6.22-1.64-10.27-5.72-11.32-11.96-1.45-8.68-2.92-17.44-3.22-26.2-1.22-35.25-2.44-70.5-2.82-105.76-.79-72.17-1.39-144.35-1.38-216.53C-11 247.44-9.8 199.72-9.1 152c.49-33.27.78-66.54 1.66-99.8.3-11.31 2.06-22.59 3.3-33.87.5-4.55 2.9-7.83 7.13-9.93 8.9-4.42 18.53-5.8 28.19-6.88 27.99-3.13 56.1-2.77 84.18-2.04C175.62 1.06 235.88 1.01 296.15.6 378.96.03 461.78.39 544.59.45c17.72.01 35.45.44 53.17.61 1.1.01 2.32-.35 3.3-.88 2.98-1.6 4.9-1.41 7.3 1.09 3.62 3.77 5.4 8.45 5.93 13.5.62 5.86 1.13 11.79 1.04 17.67-.67 40.54-1.39 81.07-2.34 121.61-1.36 58.36-3.53 116.7-2.85 175.07zM14.63 21.21C13.6 28.06 12 34.58 11.76 41.15c-.8 21.89-1.39 43.79-1.54 65.7-.41 59.27-.23 118.54-.89 177.8-.81 72.45-.72 144.9.43 217.34.58 36.44.26 72.9.26 109.35 0 9.9-.34 19.79-.52 29.69-.02.96 0 1.92 0 2.97 2.75-.17 5.1-.44 7.45-.45 20.81-.05 41.63.18 62.44-.1 64.47-.88 128.89 1.17 193.32 2.65 46.71 1.07 93.41 2.62 140.13 3.3 33.53.49 67.08-.22 100.63-.18 23.08.03 46.17.43 69.25.66.33 0 .67-.15 1.11-.26 0-1.08.02-2.06 0-3.05-.19-7.45-.74-14.91-.53-22.35 1.02-36.43 1.85-72.88 3.49-109.28 2.14-47.52 3.25-95.04 2.11-142.58-1.84-76.55-.48-153.06 1.62-229.58 1.05-38.43 1.36-76.89 2.04-115.33.03-1.79-.13-2.8-2.43-2.81-38.36-.11-76.72-.36-115.08-.49-90.9-.32-181.81-.39-272.71-1-38.81-.26-77.61-1.86-116.41-2.42-20.99-.3-41.99.29-62.99.48-2.73.02-5.44 0-8.31 0z"/>
                            <path fill="transparent" d="M14.63 21.21c2.86 0 5.58.02 8.29 0 21-.18 42-.78 62.99-.48 38.81.56 77.61 2.15 116.41 2.42 90.9.61 181.8.68 272.71 1 38.36.14 76.72.38 115.08.49 2.29.01 2.46 1.02 2.43 2.81-.67 38.44-.98 76.9-2.04 115.33-2.1 76.52-3.45 153.03-1.62 229.58 1.14 47.54.03 95.06-2.11 142.58-1.64 36.41-2.47 72.85-3.49 109.28-.21 7.44.34 14.9.53 22.35.03.98 0 1.97 0 3.05-.45.11-.78.26-1.11.26-23.08-.23-46.17-.63-69.25-.66-33.54-.04-67.09.67-100.63.18-46.72-.68-93.42-2.23-140.13-3.3-64.43-1.48-128.85-3.53-193.32-2.65-20.81.28-41.63.05-62.44.1-2.35.01-4.7.28-7.45.45 0-1.05-.02-2.01 0-2.97.18-9.9.52-19.79.52-29.69.01-36.45.32-72.91-.26-109.35-1.13-72.45-1.21-144.89-.41-217.35.66-59.26.48-118.53.89-177.8.15-21.9.74-43.81 1.54-65.7.24-6.56 1.85-13.08 2.87-19.93zm100.64 454.92-.69.24c-.09 1.05-.28 2.09-.25 3.14.26 8.99.86 17.98.78 26.97-.15 16.81-.86 33.62-1 50.43-.11 12.45-1.88 9.56 8.78 15.99 23.93 14.43 49.6 25.04 76.19 33.44 36.6 11.56 74.21 17.34 112.49 18.99 12.01.52 24.01-.07 35.85-2.21 31.28-5.67 58.71-19.31 82.11-40.81 17.47-16.05 30.56-35.03 36.75-58.23 4.93-18.49 4.85-37.21 1.84-55.97-3.81-23.73-12.42-45.53-27.08-64.7-16.43-21.48-37.41-37.06-62.11-47.98-6.74-2.98-13.4-4.6-20.57-3.53-14.99 2.24-30.01 4.34-44.89 7.21-20.68 3.99-41.27 8.43-61.81 13.1-8.19 1.86-16.15 4.77-24.16 7.4-1.22.4-2.08 1.91-3.11 2.9 1.34.3 2.7.92 4.02.85 13.81-.67 27.33 1.26 40.85 3.82 22.73 4.3 44.98 10.2 66.56 18.59 20.71 8.06 41.04 16.94 59.02 30.24 25.98 19.22 42.13 44.36 44.61 77.16 1.25 16.46-2.89 31.56-13.28 44.64-11.58 14.58-26.76 24.11-43.95 30.68-26.22 10.02-53.19 12.36-80.93 8.31-31.72-4.64-62.17-13.35-90.7-28.01-39.55-20.32-73.31-46.87-92.47-88.58-.67-1.48-1.88-2.72-2.85-4.08zM66.21 180.14c-.2.1-.4.19-.6.29.23.88.31 1.85.73 2.64 3.37 6.31 6.65 12.68 10.26 18.86 11.54 19.75 25.78 37.4 42.41 53.07 27.93 26.3 61.03 43.63 97.3 55.26 29.72 9.53 60.38 15.02 90.99 20.69 1.69.31 3.39.63 5.08.95-.8.71-1.5.82-2.21.95-26.94 4.96-54.02 7.19-81.33 3.65-21.1-2.73-41.3-8.29-59.54-19.71-1.33-.83-2.78-1.46-4.18-2.18-.19.28-.39.55-.58.83 2.37 2 4.69 4.07 7.12 5.99 2.55 2.02 5.42 3.69 7.79 5.9 15.33 14.27 33.59 21.73 54.29 23.19 18.84 1.32 37.09-1.69 54.77-8.44 6.49-2.48 12.66-5.71 19.6-7.23 7.05-1.55 13.81-2.02 20.89-.43 6.07 1.36 12.32 1.96 18.49 2.9.06-.3.11-.59.17-.89-3.05-.65-6.08-1.54-9.16-1.92-16.08-1.97-30.52-8.42-44.5-16.14-.84-.46-2.06-1.1-2.2-1.84-1.25-6.31-5.65-10.54-9.94-14.63-5.98-5.7-12.28-11.09-18.66-16.33-12.17-9.99-23.33-20.86-31-34.8-3.81-6.92-7.25-14.04-10.87-21.07-.76-1.47-1.55-2.93-2.32-4.39-.21 1.17.03 2.11.35 3.03 2.07 6.1 4.38 12.13 6.2 18.31 5.55 18.85 13.29 36.55 26.52 51.39 8.5 9.53 18.44 16.96 31.13 20.04 6.52-1.07 11.11 3.33 16.41 5.74 3.06 1.39 6.15 2.7 9.23 4.05.8.35 1.6.72 3.09 1.4-1.35 0-1.95.1-2.51-.01-21.33-4.4-42.66-8.77-63.96-13.3-1.74-.37-3.49-1.5-4.84-2.72-14.96-13.58-25.19-30.42-33.24-48.73-12.47-28.38-21.18-57.98-28.45-88.03-9.41-38.86-15.39-78.19-15.99-118.25-.03-1.8-.37-3.59-.56-5.39h-.9c-.23.93-.49 1.85-.7 2.78-.88 3.89-1.46 7.88-2.69 11.65-3.87 11.92-5.83 24.17-6.76 36.61-1.51 20.04-.28 39.96 3.25 59.72 4.85 27.19 13.52 52.95 29.19 76 4.85 7.14 9.58 14.36 14.54 21.44 2.44 3.49 5.3 6.69 7.9 10.08 1.65 2.15 3.36 4.28 4.69 6.62 7.37 12.9 14.98 25.6 26.76 35.13.32.26.53.65.79.98-7.65-2.28-15.63-2.97-22.7-7.15-10.71-6.33-20.34-13.97-29.73-22.05-13.22-11.37-26.36-22.88-40.17-33.53-12.22-9.42-25.23-17.82-38-26.52-16.65-11.34-30.03-25.7-40.39-42.94-.33-.55-.83-1.01-1.26-1.52zm161.62-14.33c.47.42.94.85 1.41 1.27.57-.92 1.02-1.94 1.72-2.73 1.99-2.24 3.83-4.7 6.17-6.49 5.69-4.35 11.4-8.76 17.52-12.46 23.5-14.23 48.73-17.74 75.2-10.62 19.08 5.14 36.36 14.13 51.71 26.66 18.72 15.29 34.78 32.77 44.88 55.08 3.07 6.78 5.85 13.69 8.83 20.52.62 1.43 1.53 2.74 2.58 4.61.61-1.26 1.08-1.85 1.19-2.5.84-4.92 1.86-9.82 2.34-14.78.81-8.4 1.09-16.86 1.91-25.26 1.37-14.12 2.58-28.24 1.62-42.43-.08-1.23-.92-2.86-1.91-3.51-4.73-3.04-9.46-6.17-14.51-8.61-28.12-13.63-57.85-21.28-88.99-23.58-22.14-1.64-43.89.2-65.13 7.06-15.65 5.05-28.94 13.47-39.01 26.58-2.74 3.55-5.04 7.45-7.53 11.19z"/>
                            <path d="M115.27 476.13c.97 1.36 2.19 2.6 2.87 4.09 19.16 41.71 52.92 68.26 92.47 88.58 28.53 14.66 58.98 23.38 90.7 28.01 27.74 4.05 54.71 1.72 80.93-8.31 17.18-6.57 32.36-16.1 43.95-30.68 10.39-13.08 14.53-28.18 13.28-44.64-2.49-32.8-18.63-57.94-44.61-77.16-17.98-13.3-38.31-22.19-59.02-30.24-21.58-8.39-43.83-14.29-66.56-18.59-13.52-2.56-27.04-4.49-40.85-3.82-1.32.06-2.68-.55-4.02-.85 1.03-1 1.89-2.5 3.11-2.9 8-2.63 15.96-5.54 24.16-7.4 20.54-4.67 41.13-9.11 61.81-13.1 14.87-2.87 29.9-4.98 44.89-7.21 7.17-1.07 13.82.55 20.57 3.53 24.71 10.91 45.69 26.49 62.11 47.98 14.66 19.18 23.27 40.98 27.08 64.7 3.01 18.75 3.09 37.48-1.84 55.97-6.19 23.2-19.28 42.18-36.75 58.23-23.4 21.5-50.83 35.14-82.11 40.81-11.84 2.14-23.84 2.73-35.85 2.21-38.28-1.65-75.89-7.43-112.49-18.99-26.59-8.39-52.26-19.01-76.19-33.44-10.66-6.43-8.89-3.54-8.78-15.99.14-16.81.85-33.62 1-50.43.08-8.99-.52-17.98-.78-26.97-.03-1.04.16-2.09.25-3.14.21-.09.44-.17.67-.25zM66.21 180.14c.42.51.93.97 1.26 1.53 10.36 17.24 23.74 31.6 40.39 42.94 12.77 8.7 25.78 17.1 38 26.52 13.8 10.64 26.94 22.15 40.17 33.53 9.39 8.08 19.02 15.72 29.73 22.05 7.07 4.18 15.04 4.87 22.7 7.15-.26-.33-.47-.73-.79-.98-11.78-9.53-19.39-22.23-26.76-35.13-1.34-2.34-3.05-4.47-4.69-6.62-2.6-3.39-5.45-6.59-7.9-10.08-4.95-7.07-9.68-14.3-14.54-21.44-15.67-23.05-24.34-48.81-29.19-76-3.53-19.76-4.76-39.68-3.25-59.72.93-12.44 2.89-24.69 6.76-36.61 1.23-3.78 1.8-7.76 2.69-11.65.21-.93.46-1.85.7-2.78h.9c.19 1.8.53 3.59.56 5.39.6 40.06 6.58 79.39 15.99 118.25 7.28 30.05 15.98 59.65 28.45 88.03 8.05 18.31 18.28 35.14 33.24 48.73 1.34 1.22 3.1 2.35 4.84 2.72 21.3 4.52 42.63 8.9 63.96 13.3.56.12 1.16.01 2.51.01-1.49-.67-2.29-1.04-3.09-1.4-3.08-1.35-6.17-2.66-9.23-4.05-5.3-2.41-9.89-6.82-16.41-5.74-12.7-3.08-22.64-10.51-31.13-20.04-13.23-14.84-20.97-32.55-26.52-51.39-1.82-6.18-4.13-12.21-6.2-18.31-.31-.92-.56-1.86-.35-3.03.78 1.46 1.57 2.92 2.32 4.39 3.62 7.03 7.06 14.15 10.87 21.07 7.67 13.94 18.83 24.81 31 34.8 6.39 5.24 12.68 10.63 18.66 16.33 4.3 4.09 8.69 8.32 9.94 14.63.15.74 1.36 1.38 2.2 1.84 13.98 7.72 28.42 14.16 44.5 16.14 3.09.38 6.11 1.27 9.16 1.92-.06.3-.11.59-.17.89-6.17-.94-12.42-1.53-18.49-2.9-7.08-1.59-13.84-1.12-20.89.43-6.94 1.52-13.11 4.75-19.6 7.23-17.68 6.75-35.93 9.77-54.77 8.44-20.7-1.45-38.97-8.91-54.29-23.19-2.37-2.21-5.24-3.88-7.79-5.9-2.43-1.93-4.75-3.99-7.12-5.99.19-.28.39-.55.58-.83 1.4.72 2.85 1.35 4.18 2.18 18.25 11.42 38.44 16.98 59.54 19.71 27.31 3.53 54.39 1.31 81.33-3.65.7-.13 1.41-.24 2.21-.95-1.69-.32-3.39-.63-5.08-.95-30.61-5.67-61.27-11.16-90.99-20.69-36.27-11.63-69.37-28.96-97.3-55.26-16.63-15.67-30.87-33.32-42.41-53.07-3.61-6.18-6.89-12.55-10.26-18.86-.42-.78-.49-1.75-.73-2.64.2-.11.4-.21.6-.3z"/>
                            <path d="M227.83 165.81c2.49-3.74 4.79-7.64 7.52-11.19 10.08-13.11 23.37-21.53 39.01-26.58 21.24-6.86 42.98-8.7 65.13-7.06 31.14 2.3 60.87 9.96 88.99 23.58 5.05 2.45 9.78 5.57 14.51 8.61 1 .64 1.83 2.27 1.91 3.51.96 14.19-.24 28.31-1.62 42.43-.82 8.4-1.1 16.86-1.91 25.26-.48 4.96-1.5 9.86-2.34 14.78-.11.65-.58 1.24-1.19 2.5-1.06-1.87-1.96-3.18-2.58-4.61-2.98-6.82-5.76-13.73-8.83-20.52-10.09-22.31-26.15-39.8-44.88-55.08-15.35-12.53-32.63-21.52-51.71-26.66-26.47-7.12-51.7-3.61-75.2 10.62-6.11 3.7-11.82 8.11-17.52 12.46-2.34 1.79-4.19 4.26-6.17 6.49-.7.79-1.15 1.81-1.72 2.73-.46-.43-.93-.85-1.4-1.27z"/>
                            <title>Stefánia Péter's makers mark</title>
                        </svg>
                    </span>
                </a>
                <nav class="site-navigation" aria-label="Main Menu">
                    <ul class="site-navigation-list">
                        <li><a class="site-navigation-link" href="/">About</a></li>
                        <li><a class="site-navigation-link" href="https://journal.stef-nia.me">Journal</a></li>
                    </ul>
                </nav>
            </div>
        </header>

         {{ content }}

        <footer class="footer">
            <p class="footer_container_text">
                Made with love - stef-nia.me &copy; 2023
            </p>
        </footer>
    </body>
</html>