---
baseURL: https://stef-nia.me
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% if lead %}{{pageTitle}}{%else%}Stefánia Péter :: UX Designer{%endif%}</title>

        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="icon" type="image/png" sizes="16x16" href="/src/images/favicon.png">
        <meta name="author" content="Stefánia Péter"/>
        <meta name="description" content="Portfolio of Stefánia Péter"/>

        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:site" content="@cat_a_flame">
        <meta name="twitter:creator" content="@cat_a_flame">
        <meta name="twitter:title" content="{% if lead %}{{pageTitle}}{%else%}Portfolio of Stefánia Péter{%endif%}">
        <meta name="twitter:description" content="{% if lead %}{{lead}}{%else%}UX Designer{%endif%}">
        <meta name="twitter:image" content="{{baseURL}}{% if socialImage %}{{socialImage}}{%else%}/src/images/social.png{%endif%}">

        <!-- Open Graph -->
        <meta property="og:title" content="{% if lead %}{{pageTitle}}{%else%}Portfolio of Stefánia Péter{%endif%}">
        <meta property="og:description" content="{% if lead %}{{lead}}{%else%}UX Designer{%endif%}">
        <meta property="og:image" content="{{baseURL}}{% if socialImage %}{{socialImage}}{%else%}/src/images/social.png{%endif%}">
        <meta property="og:url" content="https://stef-nia.me">
        <meta property="og:site_name" content="Portfolio of Stefánia Péter">
        <meta property="og:locale" content="en_GB">
        <meta property="og:type" content="website">
        
        <link rel="stylesheet" href="/src/css/main.css">
        <script src="https://kit.fontawesome.com/cd9ec28620.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Saira+Semi+Condensed:wght@400;500;600;700&family=Silkscreen:wght@400;700&family=Yellowtail&display=swap" rel="stylesheet">
          
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-TMCHKKTHL5"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-TMCHKKTHL5');
        </script>

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5519548085198887" crossorigin="anonymous"></script>
        <meta name="google-adsense-account" content="ca-pub-5519548085198887">
    </head>
    <body class="{% bodyClass page.url %}">
        <header class="site-header">
            <div class="site-header-wrapper">
                <nav class="site-navigation" aria-label="Main Menu">
                    <ul class="site-navigation-list">
                        <li><a class="site-navigation-link" href="/">Home</a></li>
                        <li><a class="site-navigation-link" href="/about">About</a></li>
                        <li><a class="site-navigation-link" href="https://journal.stef-nia.me">Journal</a></li>
                        <li><a class="site-navigation-link" href="/resume" target="_blank">Resume</a></li>
                    </ul>
                </nav>
            </div>
        </header>

         {{ content }}

        <footer class="footer">
            <p class="footer_container_text">
                Made with love - stef-nia.me &copy; 2024
            </p>
        </footer>
    </body>
</html>