---
layout: layouts/base.liquid
---

<script src="/src/js/chapters.js" crossorigin="anonymous"></script>

<div class="project-article">
    <aside class="sidebar">
        <div class="section-title">Chapters</div>
        <ul class="chapters" id="chapterSidebar"></ul>
    </aside>

    <article>
        <h1 class="project-article-title">{{ pageTitle }}</h1>

        <div class="project-author">
            <div class="avatar">
                <img src="/src/images/cvphoto.jpg" alt="Photo of Stefánia Péter" />
            </div>

            <div>
                <p class="name">Stefánia Péter</p>
                <p class="date"><time datetime="{{ page.date }}">{{ page.date | date: "%Y %B %d." }}</time></p>
            </div>
        </div>

        <p>{{ lead  }}</p>

        {{ content }}
    </article>
</div>