---
layout: layouts/base.liquid
---
<article class="project-article">
    <h1 class="project-article-title">{{ pageTitle }}</h1>

    <p>{{ lead  }}</p>

    {{ content }}

    <div class="project-article-meta">
        <time datetime="{{ page.date }}">{{ page.date | date: "%Y %B %d." }}</time>
    </div>
</article>

